## BTS - Python Precourse 2021-2022
### Session 5 & 6

Strings operations and formatting.Â Conditions and flow control.

Strings

In [13]:
my_string = 'Barcelona Rocks!'
student_age = 5

In [14]:
my_string

'Barcelona Rocks!'

In [15]:
print(my_string)
student_age

Barcelona Rocks!

5

In [12]:
a = 4
string ="sdoiafjsdf"
if True:
    5+2

In [18]:
type(my_string)

str

In [20]:
len(student_age)

TypeError: object of type 'int' has no len()

In [26]:
number = "30"
print(len(number))

casted_number = int(number)
print(type(casted_number))

2
<class 'int'>

In [41]:
number = 1/3
print(type(number))
print(number)

casted_number = str(number)
print(type(casted_number))
print(casted_number)

print(number * 3)
print(casted_number * 3)

<class 'float'>
0.3333333333333333
<class 'str'>
0.3333333333333333
1.0
0.33333333333333330.33333333333333330.3333333333333333

In [53]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [54]:
my_string

'Barcelona Rocks!'

In [63]:
my_string.replace('a', '?')
print(my_string)

B?rcelon? Rocks!

In [69]:
my_modified_string = my_string.replace('a', '?')
print(my_modified_string)

B?rcelon? Rocks!

In [60]:
print(my_string, my_modified_string)

Barcelona Rocks! B?rcelon? Rocks!

In [70]:
help(str.format)

Help on method_descriptor:

format(...)
    S.format(*args, **kwargs) -> str

    Return a formatted version of S, using substitutions from args and kwargs.
    The substitutions are identified by braces ('{' and '}').

In [75]:
secret = '{} is cool'.format(my_string)
print(secret)

Barcelona Rocks! is cool

In [78]:
print('My name is {} {}, you can call me {}.'.format('Sergio', 'Gago', 'Teacher'))
# is the same as:
print('My name is {first} {family}, you can call me {first}.'.format(first='Sergio', family='Gago'))

My name is Sergio Gago, you can call me Teacher.
My name is Sergio Gago, you can call me Sergio.

In [89]:
pandas = 'pandas'
numpy = 'numpy'
requests = 'requests'
lala = ['pandas', 'numpy', 'requests']
cool_python_libs = ' // '.join(lala)

In [90]:
print('Some cool python libraries: {}'.format(cool_python_libs))

Some cool python libraries: pandas // numpy // requests

In [99]:
cool_python_libs = pandas + ', ' + numpy + ', ' + requests
print('Some cool python libraries: {}'.format(cool_python_libs))

cool_python_libs = pandas
cool_python_libs += ', ' + numpy
cool_python_libs += ', ' + requests
print('Some cool python libraries: {}'.format(cool_python_libs))

Some cool python libraries: pandas, numpy, requests
Some cool python libraries: pandas, numpy, requests

In [110]:
'{2} - {1}'.format('First Element', 'Second Element', 'Third')

'Third - Second Element'

In [131]:
a = 2.1
b = 3.4
print(str(a) + " " + str(b) + " " + str(a * b))

2.1 3.4 7.14

In [130]:
print(str(a) + str(b) + str(a * b))
print((a) + (b) + (a * b))

2.13.47.14
12.64

In [134]:
a + b + a * b

12.64

In [127]:
print(type(a))
print(type(str(a)))

imastring = str(a)
type(imastring)

<class 'float'>
<class 'str'>

str

More on Formats
https://pyformat.info/

In [135]:
mixed_case = 'PyTHoN hackER'
print(mixed_case.upper())
print(mixed_case.lower())
print(mixed_case.title())

PYTHON HACKER
python hacker
Python Hacker

In [136]:
ugly_formatted = ' \n \t This is text with weird formatting probably coming \t \n from a CSV file '
stripped = ugly_formatted.strip()

print('ugly: {}'.format(ugly_formatted))
print('stripped: {}'.format(ugly_formatted.strip()))

ugly:
 	 This is text with weird formatting probably coming
 from a CSV file
stripped: This is text with weird formatting probably coming
 from a CSV file

In [145]:
sentence = 'three different words'
words = sentence.split()
print(words)
print(" - ".join(words))

['three', 'different', 'words']
three - different - words

In [156]:
sentence = 'three, different, words'
words = sentence.split(", ")
print(words)

['three', 'different', 'words']

In [157]:
type(words)

list

In [158]:
secret_binary_data = '01001,101101,11100000'
binaries = secret_binary_data.split(',')
print(binaries)

['01001', '101101', '11100000']

Order Matters

In [159]:
ugly_mixed_case = '   ThIS LooKs BAd '
pretty = ugly_mixed_case.strip().lower().replace('bad', 'good')
print(pretty)

this looks good

In [160]:
pretty = ugly_mixed_case.replace('bad', 'good').strip().lower()
print(pretty)

this looks bad

In [161]:
a = 4
b = 5
print(a, b, a * b) 

print(a, b, a * b, sep=" :-) ")

4 5 20
4 :-) 5 :-) 20

### Numbers

In [172]:
my_int = 6
print('value: {}, type: {}'.format(my_int, type(my_int)))

value: 6, type: <class 'int'>

In [173]:
my_float = float(my_int)
print('value: {}, type: {}'.format(my_float, type(my_float)))

value: 6.0, type: <class 'float'>

In [179]:
print(1 / 1)
print(6 / 5)

1.0
1.2

In [186]:
val = 0.1 + 0.1 + 0.4
print(val == 0.6)
print(val)

False
0.6000000000000001

In [211]:
11 // 5

2

In [195]:
10 % 5

0

In [205]:
2 ** 8

256

In [206]:
from decimal import Decimal

from_float = Decimal(0.1)
from_str = Decimal('0.1')
print('from float: {}\nfrom string: {}'.format(from_float, from_str))

from float: 0.1000000000000000055511151231257827021181583404541015625
from string: 0.1

In [209]:
my_decimal = Decimal('0.1')
sum_of_decimals = my_decimal + my_decimal + my_decimal
print(sum_of_decimals == Decimal('0.3'))
print(sum_of_decimals == 0.3)

True
False

In [215]:
val = '%.4f'%(1324343032.324325235)
print(val)
print(type(val))
val_in_float = float(val)
print(val_in_float)

1324343032.3243
<class 'str'>
1324343032.3243

In [217]:
import decimal
# By default rounding setting in python is decimal.ROUND_HALF_EVEN
decimal.getcontext().rounding = decimal.ROUND_DOWN
c = decimal.Decimal(34.1499123)
print(round(c,2))
print(float(c))
print(float(round(c,2)))
decimal.getcontext().rounding = decimal.ROUND_HALF_EVEN
print(round(c,2))

34.14
34.1499123
34.14
34.15

In [218]:
print(1 + 2**2 * 3 / 6)
print((1 + 2**2) * 3 / 6)

3.0
2.5

### Conditionals

In [219]:
print('type of True and False: {}'.format(type(True)))

type of True and False: <class 'bool'>

In [220]:
print('0: {}, 1: {}'.format(bool(0), bool(1)))
print('empty list: {}, list with values: {}'.format(bool([]), bool(['woop'])))
print('empty dict: {}, dict with values: {}'.format(bool({}), bool({'Python': 'cool'})))

0: False, 1: True
empty list: False, list with values: True
empty dict: False, dict with values: True

In [224]:
print('1 == 0: {}'.format(1 == 0))
print('1 != 0: {}'.format(1 != 0))
print('1 > 0: {}'.format(1 > 0))
print('1 > 1: {}'.format(1 > 1))
print('1 < 0: {}'.format(1 < 0))
print('1 < 1: {}'.format(1 < 1))
print('1 >= 0: {}'.format(1 >= 0))
print('1 >= 1: {}'.format(1 >= 1))
print('1 <= 0: {}'.format(1 <= 0))
print('1 <= 1: {}'.format(1 <= 1))

1 == 0: False
1 != 0: True
1 > 0: True
1 > 1: False
1 < 0: False
1 < 1: False
1 >= 0: True
1 >= 1: True
1 <= 0: False
1 <= 1: True

In [227]:
print('1 <= 2 <= 3: {}'.format(1 <= 2 <= 3))

1 <= 2 <= 3: True

In [228]:
python_is_cool = True
java_is_cool = False
empty_list = []
password = "asdasdasds"

In [232]:
print('Python and java are both cool: {}'.format(python_is_cool and java_is_cool))
print('secret_value and python_is_cool: {}'.format(password and python_is_cool))

Python and java are both cool: False
secret_value and python_is_cool: True

### WAT?

Casting comes

In [233]:
print(bool(password))

True

In [234]:
print(int(password))

ValueError: invalid literal for int() with base 10: 'asdasdasds'

In [235]:
string = "124"
print(int(string))

124

In [239]:
print('Python or java is cool: {}'.format(python_is_cool or java_is_cool))
print('1 >= 1.1 or 2 < float("1.4"): {}'.format(2 >= 1.1 or 2 < float('1.4')))

Python or java is cool: True
1 >= 1.1 or 2 < float("1.4"): True

In [240]:
print('Java is not cool: {}'.format(not java_is_cool))

Java is not cool: True

In [241]:
print(java_is_cool, python_is_cool, password, empty_list)

False True asdasdasds []

In [246]:
print(bool(not java_is_cool or password and  python_is_cool or empty_list))
print(bool(not (java_is_cool or password and  python_is_cool or empty_list)))

True
False

In [249]:
statement = True

#statement = (1 > 2)
if statement:
    print('statement is True')
    
if not statement:
    print('statement is not True')

statement is True

In [253]:
empty_list = []
# With if and elif, conversion to `bool` is implicit
if empty_list:
    print('empty list will not evaluate to True')  # this won't be executed

In [271]:
student_age= 10
student_grade = 10

if student_age > 15:
    print("you are young mate")

if student_grade > 8:
    print("bookworm!")

bookworm!

In [275]:
val = 3
if 0 <= val < 1 or val == 3:
    print('Value is positive and less than one or value is three')

Value is positive and less than one or value is three

In [276]:
my_dict = {}
if my_dict:
    print('there is something in my dict')
else:
    print('my dict is empty :(')

my dict is empty :(

In [277]:
val = 88
if val >= 100:
    print('value is equal or greater than 100')
elif val > 10:
    print('value is greater than 10 but less than 100')
else:
    print('value is equal or less than 10')

value is greater than 10 but less than 100

In [279]:
greeting = 'Hello fellow Pythonista!'
language = 'Finnish'

if language == 'Swedish':
    greeting = 'Hejsan!'
elif language == 'Finnish':
    greeting = 'Latua perkele!'
elif language == 'Spanish':
    greeting = 'Hola!'
elif language == 'German':
    greeting = 'Guten Tag!'
    
print(greeting)

Latua perkele!

In [280]:
print("hello world for the repo")

hello world for the repo

### For Loops

In [ ]:
my_list = [1, 2, 3, 4, 'Python', 'is', 'neat']
for item in my_list:
    print(item)

In [ ]:
for item in my_list:
    if item == 'Python':
        break
    print(item)

In [ ]:
for item in my_list:
    if item == 1:
        continue
    print(item)
    
    
print("")

for item in my_list:
    if isinstance(item, str):
        continue
    print(item)

In [ ]:
for i, val in enumerate(my_list):
    print('index: {}, value: {}'.format(i, val))

In [ ]:
my_dict = {'hacker': True, 'age': 72, 'name': 'John Doe'}
for val in my_dict:
    print(val)

In [ ]:
for key, val in my_dict.items():
    print('{}={}'.format(key, val))

In [ ]:
for number in range(5):
    print(number)
print("")

for number in range(2, 5):
    print(number)
print("")

for number in range(0, 10, 2):  # last one is step
    print(number)
print("")

In [ ]:
data = ['John', 'Doe', 'was', 'here']

In [ ]:
for item in data:
    print(item)

In [ ]:
for idx, val in enumerate(data):
    print('{}: {}'.format(idx, val))

In [ ]:
for val in range(6):
    print(val)

In [ ]:
i = len(data) - 1
while i >= 0:
    print(data[i])
    i -= 1

In [ ]:
for item in reversed(data):
    print(item)

In [ ]:
collection1 = ['a', 'b', 'c']
collection2 = (10, 20, 30, 40, 50)
collection3 = ['John', 'Doe', True]

In [ ]:
# NO!!

shortest = len(collection1)
if len(collection2) < shortest:
    shortest = len(collection2)
if len(collection3) < shortest:
    shortest = len(collection3)
    
i = 0
while i < shortest:
    print(collection1[i], collection2[i], collection3[i])
    i += 1

In [ ]:
for first, second, third in zip(collection1, collection2, collection3):
    print(first, second, third)

### Exercises

Level 1

Question: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

Hints: Consider use range(#begin, #end) method

In [ ]:
l=[]
for i in range(2000, 3201):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))

print(','.join(l))

Question: Write a program which can compute the factorial of a given numbers. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

Hints: In case of input data being supplied to the question, it should be assumed to be a console input.

In [ ]:
def fact(x):
    if x == 0:
        return 1
    return x * fact(x - 1)

x=int(input())
print(fact(x))